<!-- ######### NOSE ######### NOSE ######### NOSE ######### NOSE ######### NOSE ######### -->
<div *ngIf = "location == '/tasting/nose/quirky' ">
  <div class="title quirky-container">
  <h3>Sweet, savoury and quirky</h3>
  <hr class="line">
  <img class='quirky-img' src="https://s3.eu-west-2.amazonaws.com/the-grape-app-bucket/TGA_Images/Assets+from+Sketch/pictures/newSweetSavouryQuirky%402x.png" alt="Quirky aromas">
  <p class="select">Select the aromas <br>you have decided:</p>
  </div>
  </div>

  <!-- <div class="quirkyComponentOptions">
      <button class="button" (click)="userInputToggle('toffee')">Toffee</button>
      <button class="button" (click)="userInputToggle('mushroom')">Mushroom</button>
      <button class="button" (click)="userInputToggle('chocolate')">Chocolate</button>
      <button class="button" (click)="userInputToggle('wet leaves')">Wet Leaves</button>
      <button class="button" (click)="userInputToggle('coffee')">Coffee</button>
      <button class="button" (click)="userInputToggle('forest floor')">Forest Floor</button>
      <button class="button" (click)="userInputToggle('meat/leather')">Meat/Leather</button>
      <button class="button" (click)="userInputToggle('chemical')">Chemical</button>
      <button class="button" (click)="userInputToggle('none')">None</button>
  </div>
  <footer class="main-footer">
    <a class='btn-tasting'(click)='addToUserNotesObject(); getNextRoute()'>Submit</a>
  </footer>

</div> -->


<!-- ######### PALATE ######### PALATE ######### PALATE ######### PALATE ######### PALATE ######### -->
<div *ngIf = "location == '/tasting/palate/quirky' ">
  <div class="title quirky-container">
    <h3>Sweet, savoury and quirky</h3>
    <hr class="line">
    <img class='quirky-img' src="https://s3.eu-west-2.amazonaws.com/the-grape-app-bucket/TGA_Images/Assets+from+Sketch/pictures/newSweetSavouryQuirky%402x.png" alt="Quirky aromas">
    <p class="select">Select the flavours <br>you have detected:</p>
</div>
</div>

    <div class="title quirky-container">
      <section class="quirkyComponentOptions">
        <button class="button" (click)="userInputToggle('toffee')">Toffee</button>
        <button class="button" (click)="userInputToggle('mushroom')">Mushroom</button>
        <button class="button" (click)="userInputToggle('chocolate')">Chocolate</button>
        <button class="button" (click)="userInputToggle('wet leaves')">Wet Leaves</button>
        <button class="button" (click)="userInputToggle('coffee')">Coffee</button>
        <button class="button" (click)="userInputToggle('forest floor')">Forest Floor</button>
        <button class="button" (click)="userInputToggle('meat/leather')">Meat/Leather</button>
        <button class="button" (click)="userInputToggle('chemical')">Chemical</button>
        <button class="button" (click)="userInputToggle('none')">None</button>
      </section>
    </div>

    <footer class="main-footer">
      <a class='btn-tasting'(click)="addToUserNotesObject(); callAssemble();" [routerLink]="['/notes']">Go To Results</a>
    </footer>


<!-- <div class="title herbs-container">
  <section class="herbsComponentOptions">
  <button class="button" (click)="userInputToggle('blackcurrant leaf')">Blackcurrant Leaf</button>
  <button class="button" (click)="userInputToggle('tomato leaf')">Tomato Leaf</button>
  <button class="button" (click)="userInputToggle('black pepper')">Black Pepper</button>
  <button class="button" (click)="userInputToggle('grass')">Grass</button>
  <button class="button" (click)="userInputToggle('clove')">Clove</button>
  <button class="button" (click)="userInputToggle('vanilla')">Vanilla</button>
  <button class="button" (click)="userInputToggle('rosemary')">Rosemary</button>
  <button class="button" (click)="userInputToggle('cinnamon')">Cinnamon</button>
  <button class="button" (click)="userInputToggle('pungent aromas')">Pungent Aromas</button>
  <button class="button" (click)="userInputToggle('wood aromas')">Wood Aromas</button>
  <button class="button" (click)="userInputToggle('none')">None</button>
  </section>
</div> -->

<!-- <footer class="main-footer">
 <a class='btn-tasting'(click)='addToUserNotesObject(); getNextRoute()'>Submit</a>
</footer> -->
