<!-- ######### NOSE ######### NOSE ######### NOSE ######### NOSE ######### NOSE ######### -->
<div *ngIf = "location == '/tasting/nose/quirky' ">
  <h3>Sweet, savoury and quirky</h3>
  <img class='quirky-img' src="https://s3.eu-west-2.amazonaws.com/the-grape-app-bucket/TGA_Images/Assets+from+Sketch/pictures/newSweetSavouryQuirky%402x.png" alt="Quirky aromas">
  <p>Select the aromas <br>you have decided:</p>
  <div class="quirkyComponentOptions">
      <button class="button" (click)="userInputToggle('toffee')">Toffee</button>
      <button class="button" (click)="userInputToggle('mushroom')">Mushroom</button>
      <button class="button" (click)="userInputToggle('chocolate')">Chocolate</button>
      <button class="button" (click)="userInputToggle('wet leaves')">Wet Leaves</button>
      <button class="button" (click)="userInputToggle('coffee')">Coffee</button>
      <button class="button" (click)="userInputToggle('forest floor')">Forest Floor</button>
      <button class="button" (click)="userInputToggle('meat/leather')">Meat/Leather</button>
      <button class="button" (click)="userInputToggle('chemical')">Chemical</button>
      <button class="button" (click)="userInputToggle('none')">None</button>
  </div>
  <button (click)="addToUserNotesObject()">Submit</button>
</div>


<!-- ######### PALATE ######### PALATE ######### PALATE ######### PALATE ######### PALATE ######### -->
<div *ngIf = "location == '/tasting/palate/quirky' ">
    <h3>Quirky Tastes</h3>
    <img src="https://s3.eu-west-2.amazonaws.com/the-grape-app-bucket/icons/quirky.svg" alt="Picture of quirky tastes... Yummy!">
    <p>Select the flavours <br>you have detected:</p>
    <div class="quirkyComponentOptions">
        <button (click)="userInputToggle('toffee')">Toffee</button>
        <button (click)="userInputToggle('mushroom')">Mushroom</button>
        <button (click)="userInputToggle('chocolate')">Chocolate</button>
        <button (click)="userInputToggle('wet leaves')">Wet Leaves</button>
        <button (click)="userInputToggle('coffee')">Coffee</button>
        <button (click)="userInputToggle('forest floor')">Forest Floor</button>
        <button (click)="userInputToggle('meat/leather')">Meat/Leather</button>
        <button (click)="userInputToggle('chemical')">Chemical</button>
        <button (click)="userInputToggle('none')">None</button>
    </div>
    <button (click)="addToUserNotesObject(); callAssemble();" [routerLink]="['/notes']">Go to Results</button>
</div>
