.redFruitComponentOptions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.redFruitComponentOptions .button {
  width: 49%;
  border: 1px solid grey;
  border-radius: 0;
  padding: .5em 1em;
  background: transparent;
  margin-bottom: 1em;
  transition: all 300ms ease;
  cursor: pointer;
}

.redFruit-img {
  border: 2px solid #999;
  display: block;
  margin: auto;
  width: 100%;
}


.redFruitComponentOptions .button:hover {
  border-color: #E85956;
  background-color: #89ABFB;
  color: #fff;
}

.redFruit-container{
  padding: 0 4%;
}

.main-footer {
  width: 100vw;
  color: #593E68;
}

.main-footer .text {
  text-transform: uppercase;
  text-align: center;
  color: #593E68;
  font-weight: lighter;
}

a {
  display: flex;
  justify-content: center;
}

.btn-tasting {
  padding: 1em 2em;
  letter-spacing: 0.51px;
  text-transform: uppercase;
  border: 1px solid #593E68;
  transition: all 300ms ease;
  width: 300px;
  text-decoration: none;
  margin: auto;
  margin-top: 20px;
}

.btn-tasting:hover {
  background-color: #593e68;
  color: #fff;
}
