<!-- ######### NOSE ######### NOSE ######### NOSE ######### NOSE ######### NOSE ######### -->
<div *ngIf = "location == '/tasting/nose/redFruit' ">
  <div class="title redFruit-container">
    <h3>Fresh Red Fruit Aromas</h3>
    <hr class="line">
    <img class='redFruit-img' src="https://s3.eu-west-2.amazonaws.com/the-grape-app-bucket/TGA_Images/Assets+from+Sketch/pictures/freshRedFruit%402x.png" alt="Red fruit">
    <p class="select">Select the aromas you detect:</p>
</div>
</div>


<!-- ######### NOSE ######### NOSE ######### NOSE ######### NOSE ######### NOSE ######### -->
<div *ngIf = "location == '/tasting/palate/redFruit' ">
  <div class="title redFruit-container">
    <h3>Fresh Red Fruit Palate</h3>
    <hr class="line">
    <img class='redFruit-img' src="https://s3.eu-west-2.amazonaws.com/the-grape-app-bucket/TGA_Images/Assets+from+Sketch/pictures/freshRedFruit%402x.png" alt="Red fruit">
    <p class="select">Select the flavours you detect:</p>
</div>
</div>

<div class="title redFruit-container">
  <section class="redFruitComponentOptions">

    <button class="button"
    [ngClass]="{'active': redFruitResponse.includes('strawberry')}"
    (click)="userInputToggle('strawberry')">
    Strawberry</button>
    <button class="button"
    [ngClass]="{'active': redFruitResponse.includes('red plum')}"
    (click)="userInputToggle('red plum')">
    Red plum</button>
    <button class="button"
    [ngClass]="{'active': redFruitResponse.includes('raspberry')}"
    (click)="userInputToggle('raspberry')">
    Raspberry</button>
    <button class="button"
    [ngClass]="{'active': redFruitResponse.includes('red cherry')}"
    (click)="userInputToggle('red cherry')">
    Red Cherry</button>
    <button class="button"
    [ngClass]="{'active': redFruitResponse.includes('cranberry')}"
    (click)="userInputToggle('cranberry')">
    Cranberry</button>
    <button class="button"
    [ngClass]="{'active': redFruitResponse.length < 1}"
    (click)="userInputToggle('none')">None</button>

  </section>
</div>


<footer class="main-footer">
  <a class='btn-tasting'(click)='addToUserNotesObject(); getNextRoute()'>Submit</a>
</footer>
