<p>
  Instructions works!
  This are the standard instruction template:::
</p>

<div *ngIf = "location == '/tasting' ">
  <p>Tasting Page</p>
  <p>ngif Instruction appearance is working</p>
</div>

<div *ngIf = "location == '/tasting/appearance/instructions' ">
  <p>Tasting component thing</p>
  </div>

<div *ngIf = "location == '/tasting/nose/instructions' ">
  <p>ngIF NOSE</p>
</div>

<div *ngIf = "location == '/tasting/palate/instructions' ">
  <p>ngIF PALATE</p>
</div>

<app-router-button></app-router-button>
