<section class="stagsWinery">
  <img src="https://s3.eu-west-2.amazonaws.com/the-grape-app-bucket/TGA_Images/Stags'+Leap+Winery_correspondent_main.jpg" alt="Stags' Leap Winery" class='bg'>
  <img src="https://s3.eu-west-2.amazonaws.com/the-grape-app-bucket/icons/stagsLabel.svg" class="stagsLogo" width="300" height="200" alt="Stags' Label">
</section>

<div class="wineName">
  <p>Stag's Leap</p>
  <p>Cabernet Sauvignon</p>
  <p>Napa Valley, 2012</p>
</div>

<hr class="line">

<section id="container" class='section section--instructions'>
  <div class="item bottleAndGlass">
    <img src="https://s3.eu-west-2.amazonaws.com/the-grape-app-bucket/pictures/bottleAndGlass.jpeg" alt="bottleAndGlass">
  </div>
  <div class="item x2 bottleAndGlass-text">
    <p class="text">Have your wine uncorked and<br/> glasses ready</p>
  </div>
  <div class="item x2 glassAndWater-text">
    <p class="text">Keep fresh water on hand to rinse your<br/> glass and your palate</p>
  </div>
  <div class="item glassAndWater">
    <img src="https://s3.eu-west-2.amazonaws.com/the-grape-app-bucket/pictures/glassAndWater.jpeg" alt="glassAndWater">
  </div>
</section>

<footer class="main-footer">
  <h3 class="text">Take the challenge</h3>
</footer>
