<div class="stagsWinery">
  <img src="https://s3.eu-west-2.amazonaws.com/the-grape-app-bucket/TGA_Images/Stags'+Leap+Winery_correspondent_main.jpg" alt="Stags' Leap Winery">
</div>

<div class="stagsLogo">
  <img src="https://s3.eu-west-2.amazonaws.com/the-grape-app-bucket/icons/stagsLabel.svg" alt="">
</div>

<p>Stag's Leap</p>
<p>Cabernet Sauvignon</p>
<p>Napa Valley, 2012</p>

<div>Have your wine uncorked and glasses ready
  <img src="https://s3.eu-west-2.amazonaws.com/the-grape-app-bucket/pictures/bottleAndGlass.jpeg"  width="600" height="400" alt="bottleAndGlass">
</div>

<div>
  <p>Keep fresh water on hand to rinse your glass and your palate</p>
  <img src="https://s3.eu-west-2.amazonaws.com/the-grape-app-bucket/pictures/glassAndWater.jpeg"  width="600" height="400"  alt="glassAndWater">
</div>
