

<div class="container">
  <div class="video">
    <video controls>
      <source src="https://s3.eu-west-2.amazonaws.com/the-grape-app-bucket/videos/WineTastingBasics.mov">
      </video>
    </div>

    <div class="main">
      <div class="quote">
        <p>Sitting with some good wine and proper glassware?</p>
        <p>Time to taste like a pro.</p>
      </div>
      
      <div class="instructions">
        <p> Step 1: Pop it open </p>
        <p> Step 2: Tell me about your wine </p>
        <p>Click on the camera icon and take a picture of its label: </p>
      </div>

      <a [routerLink]="['/tasting/intro']">Tasting</a>


    </div>
