
<h1>{{title}}</h1>
  <p>Users:</p>
  <ul *ngFor='let user of userList'>
    <li>{{user}}</li>
  </ul>

<div class="container">
  <div class="video">
    <video controls="controls" width="600" height="400" name="Wine"
    src="https://s3.eu-west-2.amazonaws.com/the-grape-app-bucket/WineTastingBasics.mov"></video>
  </div>

  <div class="main">
    <p>Sitting with some good wine and proper glassware? Time to taste like a pro.</p>
    <br><br>

    <div class="instructions">
      <p> Step 1, pop it open. </p>
      <br>
      <p> Step 2, tell me about your wine. </p>
      <p>Click on the camera icon and take a picture of its label: </p>
    </div>
  </div>
