<!-- ######### NOSE ######### NOSE ######### NOSE ######### NOSE ######### NOSE ######### -->
<div *ngIf = "location == '/tasting/nose/herbs' ">
  <div class="title herbs-container">
  <h3>Herbs, Spices and Oak Aromas</h3>
  <img class='herbs-img' src="https://s3.eu-west-2.amazonaws.com/the-grape-app-bucket/TGA_Images/Assets+from+Sketch/pictures/herbs.png" alt="Picture of herbal aromas">
  <p>Select the aromas you have decided:</p>
</div>
</div>


<!-- ######### PALATE ######### PALATE ######### PALATE ######### PALATE ######### PALATE ######### -->
<div *ngIf = "location == '/tasting/palate/herbs' ">
  <div class="title herbs-container">
  <h3>Herbs, Spices and Oak Tastes</h3>
    <img class='herbs-img' src="https://s3.eu-west-2.amazonaws.com/the-grape-app-bucket/TGA_Images/Assets+from+Sketch/pictures/herbs.png" alt="Picture of herbal aromas">
    <p>Select the flavours you have detected:</p>
</div>
</div>


 <div class="herbsComponentOptions">
   <button class="button" (click)="userInputToggle('blackcurrant leaf')">Blackcurrant Leaf</button>
   <button class="button" (click)="userInputToggle('tomato leaf')">Tomato Leaf</button>
   <button class="button" (click)="userInputToggle('black pepper')">Black Pepper</button>
   <button class="button" (click)="userInputToggle('grass')">Grass</button>
   <button class="button" (click)="userInputToggle('clove')">Clove</button>
   <button class="button" (click)="userInputToggle('vanilla')">Vanilla</button>
   <button class="button" (click)="userInputToggle('rosemary')">Rosemary</button>
   <button class="button" (click)="userInputToggle('cinnamon')">Cinnamon</button>
   <button class="button" (click)="userInputToggle('pungent aromas')">Pungent Aromas</button>
   <button class="button" (click)="userInputToggle('wood aromas')">Wood Aromas</button>
   <button class="button" (click)="userInputToggle('none')">None</button>

</div>

<footer class="main-footer">
  <a class='btn-tasting'(click)='addToUserNotesObject(); getNextRoute()'>Submit</a>
</footer>
