
<!-- ######### NOSE ######### NOSE ######### NOSE ######### NOSE ######### NOSE ######### -->
<div *ngIf = "location == '/tasting/nose/herbs' ">
  <h3>Herbal Aromas</h3>
  <img src="https://s3.eu-west-2.amazonaws.com/the-grape-app-bucket/icons/floral.svg" alt="Picture of floral aromas... Mmmmmmh!">
  <p>Select the aromas <br>you have decided:</p>
</div>


<!-- ######### PALATE ######### PALATE ######### PALATE ######### PALATE ######### PALATE ######### -->
<div *ngIf = "location == '/tasting/palate/herbs' ">
    <h3>Herbal Tastes</h3>
    <img src="https://s3.eu-west-2.amazonaws.com/the-grape-app-bucket/icons/floral.svg" alt="Picture of floral tastes... Yummy!">
    <p>Select the flavours <br>you have detected:</p>
</div>



 <div class="floralComponentOptions">
   <button (click)="userInputToggle('blackcurrant leaf')">Blackcurrant Leaf</button>
   <button (click)="userInputToggle('tomato leaf')">Tomato Leaf</button>
   <button (click)="userInputToggle('black pepper')">Black Pepper</button>
   <button (click)="userInputToggle('grass')">Grass</button>
   <button (click)="userInputToggle('clove')">Clove</button>
   <button (click)="userInputToggle('vanilla')">Vanilla</button>
   <button (click)="userInputToggle('rosemary')">Rosemary</button>
   <button (click)="userInputToggle('cinnamon')">Cinnamon</button>
   <button (click)="userInputToggle('pungent aromas')">Pungent Aromas</button>
   <button (click)="userInputToggle('wood aromas')">Wood Aromas</button>
</div> 

<button (click)="addToUserNotesObject()">Submit</button>