
 <div *ngIf="wine!==''; else default">
  <img class="bottle" src="{{wine.label}}">
</div>
<ng-template #default>
  <img class="bottle" src="https://s3.eu-west-2.amazonaws.com/the-grape-app-bucket/TGA_Images/Assets+from+Sketch/StagsLeapScreenPic%402x.png">
</ng-template>

<p class="">{{wine.name}}</p>

<div *ngIf="this.session.isAuthenticated">
		Welcome, {{this.session.user.username}}!
</div>

<div class="wine-info">
 <form #scanForm='ngForm' (ngSubmit)='findWine(scanForm.value)'>
  <p class="name">
    <label for="name">Search for Wine: </label>
    <input type="text" name="name" placeholder="Name" ngModel>
  </p>

  <button class="btn-find" type='submit' >Find Wine!</button>
</form>

<button [routerLink]="['/tasting/intro']" class="btn-choose">Choose wine and start tasting!</button>
</div>

<!-- name: String,
  vineyard: String,
  vintage: Number,
  label: String, //[{type: Schema.Types.ObjectId, ref: 'Picture'}],
  expertNotes: String,//[{ type: Schema.Types.ObjectID, ref: 'Notes'}], -->
