
<!-- ############ APPEARANCE ############ APPEARANCE ############ APPEARANCE ############ APPEARANCE ############ -->

<div *ngIf = "location == '/tasting/intro' ">
  <app-tasting-intro></app-tasting-intro>
</div>

<div *ngIf = "location == '/tasting/appearance/instructions' ">
  <app-instructions></app-instructions>
</div>

<div *ngIf = "location == '/tasting/appearance/colorSchema' ">
  <app-color-schema></app-color-schema>
</div>

<!-- ############ NOSE ############ NOSE ############ NOSE ############ NOSE ############ -->

<div *ngIf = "location == '/tasting/nose/instructions' ">
    <app-instructions></app-instructions>
</div>

<div *ngIf = "location == '/tasting/nose/floral' ">
  <app-floral></app-floral>
</div>

<div *ngIf = "location == '/tasting/nose/redFruit' ">
  <app-red-fruit></app-red-fruit>
</div>

<div *ngIf = "location == '/tasting/nose/blackFruit' ">
   <app-black-fruit></app-black-fruit>
</div>

<div *ngIf = "location == '/tasting/nose/driedFruit' ">
  <app-dried-fruit></app-dried-fruit>
</div>

<div *ngIf = "location == '/tasting/nose/herbs' ">
    <app-herbs></app-herbs>
</div>

<div *ngIf = "location == '/tasting/nose/quirky' ">
  <app-quirky></app-quirky>
</div>

<!-- ############ PALATE ############ PALATE ############ PALATE ############ PALATE ############ -->


<div *ngIf = "location == '/tasting/palate/instructions' ">
    <app-instructions></app-instructions>
</div>

<div *ngIf = "location == '/tasting/palate/floral' ">
  <app-floral></app-floral>
</div>

<div *ngIf = "location == '/tasting/palate/redFruit' ">
  <app-red-fruit></app-red-fruit>
</div>

<div *ngIf = "location == '/tasting/palate/blackFruit' ">
   <app-black-fruit></app-black-fruit>
</div>

<div *ngIf = "location == '/tasting/palate/driedFruit' ">
  <app-dried-fruit></app-dried-fruit>
</div>

<div *ngIf = "location == '/tasting/palate/herbs' ">
    <app-herbs></app-herbs>
</div>

<div *ngIf = "location == '/tasting/palate/quirky' ">
  <app-quirky></app-quirky>
</div>

<!-- <app-router-button ></app-router-button> -->