.container {

}

.video video{
  width: 100%;
}
.quote {
  text-align: center;
  font-size: 0.8em;
}

.quote,
.instructions {
  letter-spacing: 0.51px;
  color: #5A555E;
}

.quote p {
  margin: 0;
}

.quote p:first-child {
  margin-top: 15px;
}
.quote p:last-child {
  margin-bottom: 10px;
}

.instructions {
  margin-left: 10px;
}

.instructions p:first-child {
  margin-top: 20px;
  margin-bottom: 20px;
}

.instructions p:nth-child(2){
    margin-bottom: 20px;
}

.instructions p {
  margin-bottom: 20px;
}

a {
  display: flex;
  justify-content: center;
  color: #593E68;
}

.btn-tasting {
  padding: 1em 2em;
  letter-spacing: 0.51px;
  text-transform: uppercase;
  border: 1px solid #593e68;
  transition: all 300ms ease;
  width: 200px;
  text-decoration: none;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 70px;
}

.btn-tasting:hover {
  background-color: #593e68;
  color: #fff;
}

@media (min-width: 768px) {
  .wineName,
  .section--instructions {
    padding: 0 8%;
  }
  .video video {
    height: 400px;
  }
  .line {
    width: 84%;
  }
}
