<div *ngIf = "location == '/tasting/nose/driedFruit' ">
  <div class="title driedFruit-container">
    <h3>Dried and cooked fruit</h3>
    <hr class="line">
    <img class='driedFruit-img' src="https://s3.eu-west-2.amazonaws.com/the-grape-app-bucket/TGA_Images/Assets+from+Sketch/pictures/newDriedFruit%402x.png">
    <p class="select">Select the aromas you detect:</p>
  </div>
</div>

<div *ngIf = "location == '/tasting/palate/driedFruit' ">
  <div class="title driedFruit-container">
    <h3>Dried Fruit Palate</h3>
    <hr class="line">
    <img class='driedFruit-img' src="https://s3.eu-west-2.amazonaws.com/the-grape-app-bucket/TGA_Images/Assets+from+Sketch/pictures/newDriedFruit%402x.png">
    <p class="select">Select the flavours you detect:</p>
  </div>
</div>

<div class="title driedFruit-container">
   <section class="driedFruitComponentOptions">
     <button class="button"
     [ngClass]="{'active': driedFruitResponse.includes('dried figs')}"
     (click)="userInputToggle('dried figs')">
     Dried figs</button>
     <button class="button"
     [ngClass]="{'active': driedFruitResponse.includes('jamminess')}"
     (click)="userInputToggle('jamminess')">
     Jamminess</button>
     <button class="button"
     [ngClass]="{'active': driedFruitResponse.includes('prunes')}"
     (click)="userInputToggle('prunes')">
       Prunes</button>
     <button class="button"
     [ngClass]="{'active': driedFruitResponse.includes('baked, stewed fruits')}"
     (click)="userInputToggle('baked, stewed fruits')">
     Baked, stewed fruits</button>
     <button class="button"
     [ngClass]="{'active': driedFruitResponse.includes('raisins')}"
     (click)="userInputToggle('raisins')">
     Raisins</button>
     <button class="button"
     [ngClass]="{'active': driedFruitResponse.length < 1}"
     (click)="userInputToggle('none')">
     None</button>
  </section>
</div>

<footer class="main-footer">
  <a class='btn-tasting'(click)='addToUserNotesObject(); getNextRoute()'>Submit</a>
</footer>
