.section--instructions {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-bottom: 20px;

}

.section--instructions .appearance {
  width: 100%;
}

.section--instructions .appearance img {
  border: 1px solid black;
  width: 100%;
  margin:auto;
}

.section--instructions .appearance .text {
  padding: 15px 10px;
  /*margin-bottom: 80px;*/
}


.main-footer {
  border-top: 1px solid black;
  width: 100vw;
}

.main-footer .text {
  text-transform: uppercase;
  text-align: center;
  color: #5A555E;
  font-weight: lighter;
}

.nose-instructions img {
  width: 49%;
  padding: .5em .5em .5em 1em;
  margin-bottom: 1em;
  margin-top: 1em;
}

.nose-instructions img.last {
  padding: .5em 1em .5em .5em;
}

.nose-instructions .text {
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 15px 10px;
}

.palate-instructions img {
  width: 49%;
  padding: .5em 1em;
  margin-bottom: 1em;
  transform: rotate(90deg);
  margin-top: 100px;
  margin-bottom: 120px;
}

.palate-instructions .text {
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 15px 10px;
}
