
<div *ngIf = "location == '/tasting/appearance/instructions' ">
  <section class="section--instructions">
    <div class="appearance">
      <p class="text">Take a look at the wine in your glass, against white or clear background</p>
    <img src="https://s3.eu-west-2.amazonaws.com/the-grape-app-bucket/icons/Glass.png" alt="appearance">
    <p class="text">Now choose the wine's colour and depth or intensity</p>
    </div>
  </section>
  <footer class="main-footer">
    <a class='btn-tasting'(click)='getNextRoute()'>Make your choice</a>
  </footer>
</div>

<div *ngIf = "location == '/tasting/nose/instructions' ">
  <div class="nose-instructions">
    <p class="text">Swirl the wine in your glass, and take a good sniff</p>
    <img src="https://s3.eu-west-2.amazonaws.com/the-grape-app-bucket/icons/Swirling.png" alt="swirling">
    <img src="https://s3.eu-west-2.amazonaws.com/the-grape-app-bucket/icons/Sniffing.png" alt="sniffling" class='last'>
    <p class="text">Consider its aromas (the <span [routerLink]="['/tasting/palate/quirky']">'nose'</span>). What does the wine remind you of?</p>
  </div>
  <footer class="main-footer">
    <a class='btn-tasting'(click)='getNextRoute()'>Make your choice</a>
  </footer>
</div>

<div *ngIf = "location == '/tasting/palate/instructions' ">
  <div class="palate-instructions">
  <p class="text">Time to taste! Take a sip and draw a little air in. Go ahead and slurp! Make sure the wine hits all the corners of your mouth</p>
  <img src="https://s3.eu-west-2.amazonaws.com/the-grape-app-bucket/TGA_Images/Assets+from+Sketch/WineTastingVidPics/Sipping.jpeg" alt="Sipping">
    <img src="https://s3.eu-west-2.amazonaws.com/the-grape-app-bucket/TGA_Images/Assets+from+Sketch/WineTastingVidPics/Slurping.jpeg" alt="Slurping">
  <p class="text">Now consider the same categories. What do you detect this time?</p>
  <p class="text">Tip: nose and mouth are connected. Don't be surprised to 'taste flowers'...</p>
</div>
  <footer class="main-footer">

    <a class='btn-tasting'(click)='getNextRoute()'>Make your choice</a>

  </footer>
</div>
