
<div *ngIf = "location == '/tasting/appearance/instructions' ">
  <p>Take a look at the wine in your glass, against white or clear background</p>
  <img src="#" alt="/tasting/appearance/instructions instructions image">
  <p class="">Now choose the wine's colour and depth or intensity</p>
</div>

<div *ngIf = "location == '/tasting/nose/instructions' ">
  <p>Swirl the wine in your glass, and take a good sniff</p>
  <img src="#" alt="/tasting/appearance/instructions instructions image">
  <p class="">Consider its aromas (the 'nose'). What does the wine remind you of?</p>
</div>

<div *ngIf = "location == '/tasting/palate/instructions' ">
  <p>Time to taste! Take a sip and draw a little air in. Go ahead and slurp! Make sure the wine hits all the corners of your mouth</p>
  <img src="#" alt="/tasting/appearance/instructions instructions image">
  <p class="">Now consider the same categories. What do you detect this time?</p>
  <p class="">Tip: nose and mouth are connected. Don't be surprised to 'taste flowers'...</p>
</div>