<section class="stagsWinery">
  <img src="https://s3.eu-west-2.amazonaws.com/the-grape-app-bucket/TGA_Images/NapaVineyard.jpg" alt="Stags' Leap Winery" class='bg'>
  <img src="https://s3.eu-west-2.amazonaws.com/the-grape-app-bucket/icons/stagsLabel.svg" class="stagsLogo" width="300" height="200" alt="Stags' Label">
</section>

<div class="wineName">
  <p>Stag's Leap</p>
  <p>Cabernet Sauvignon</p>
  <p>Napa Valley, 2012</p>
</div>

<hr class="line">


<section class="text-block">
  <h1 class="title">Congratulations!</h1>
  <h3 class="subtitle">Your tasting notes:</h3>

  <p class="color">This wine is a {{notes.appearance.colorSchema}} colour.</p>

<div class="noseContainer">
    Its nose profile denotes aromas including <div class="noseProfile" *ngIf = "notes.nose.floral != '' ">{{notes.nose.floral}},</div>
    <div class="noseProfile" *ngIf = "notes.nose.redFruit != '' "> {{notes.nose.redFruit}},</div>
    <div class="noseProfile" *ngIf = "notes.nose.blackFruit != '' "> {{notes.nose.blackFruit}},</div>
    <div class="noseProfile" *ngIf = "notes.nose.driedFruit != '' "> {{notes.nose.driedFruit}},</div>
    <div class="noseProfile" *ngIf = "notes.nose.herbs != '' "> and {{notes.nose.herbs}}</div>
    .
</div>

<div class="palateContainer">
    As for its palate flavours, the wine has notes of <div class="palateProfile" *ngIf = "notes.palate.floral != '' "> {{notes.palate.floral}},</div>
    <div class="palateProfile" *ngIf = "notes.palate.redFruit != '' "> {{notes.palate.redFruit}},</div>
    <div class="palateProfile" *ngIf = "notes.palate.blackFruit != '' "> {{notes.palate.blackFruit}},</div>
    <div class="palateProfile" *ngIf = "notes.palate.driedFruit != '' "> {{notes.palate.driedFruit}},</div>
    <div class="palateProfile" *ngIf = "notes.palate.herbs != '' "> and {{notes.palate.herbs}}</div>.
</div>

<div class="quirkyContainer">
  Finally, hints of
  <div class="quirkyProfile" *ngIf = "notes.palate.quirky != '' ">{{notes.palate.quirky}}</div>
  <div class="quirkyProfile" *ngIf = "notes.nose.quirky != '' "> and {{notes.nose.quirky}}</div>
  <div class="quirkyProfile">add to the complexity of the wine.</div>
</div>

</section>


<footer class="main-footer">
  <a class='btn-tasting' [routerLink]="['/notesComparison']">Expert Notes</a>
</footer>
