<section class="stagsWinery">
  <img src="https://s3.eu-west-2.amazonaws.com/the-grape-app-bucket/TGA_Images/NapaVineyard.jpg" alt="Stags' Leap Winery" class='bg'>
  <img src="https://s3.eu-west-2.amazonaws.com/the-grape-app-bucket/icons/stagsLabel.svg" class="stagsLogo" width="300" height="200" alt="Stags' Label">
</section>

<div class="wineName">
  <p>Stag's Leap</p>
  <p>Cabernet Sauvignon</p>
  <p>Napa Valley, 2012</p>
</div>

<hr class="line">


<section class="text-block">
  <h1 class="title">Congratulations!</h1>
  <h3 class="subtitle">Your tasting notes for Stag's Leap:</h3>

  <p class="color">This wine is a {{notes.appearance.colorSchema}} colour.</p>

  <p>Its profile denotes aromas and flavours including floral notes, <span>red plum, raspberry, blackberry and black cherry.</span></p>
  <p>  Nose:
    {{notes.nose.floral}}
    {{notes.nose.redFruit}}
    {{notes.nose.blackFruit}}
    {{notes.nose.driedFruit}}
    {{notes.nose.herbs}}
    {{notes.nose.quirky}}
  </p>
  <br>
  <p>  Palate:
    {{notes.palate.floral}}
    {{notes.palate.redFruit}}
    {{notes.palate.blackFruit}}
    {{notes.palate.driedFruit}}
    {{notes.palate.herbs}}
    {{notes.palate.quirky}}
  </p>
  <p>As for other aromas and flavours, it has notes of blackcurrant leaf, black pepper, vanilla, cinnamon and woody aromas.</p>

  <p class="palate-quirky">Finally, hints of {{notes.palate.quirky}} add to the complexity of the wine.</p>
</section>


<footer class="main-footer">
  <a class='btn-tasting' [routerLink]="['/notesComparison']">Expert Notes</a>
</footer>
