
<!-- ######### NOSE ######### NOSE ######### NOSE ######### NOSE ######### NOSE ######### -->
<div *ngIf = "location == '/tasting/nose/floral' ">
  <h3>Floral Aromas</h3>
  <img src="https://s3.eu-west-2.amazonaws.com/the-grape-app-bucket/icons/floral.svg" alt="Picture of floral aromas... Mmmmmmh!">
  <p>Select the aromas <br>you have decided:</p>
</div>


<!-- ######### PALATE ######### PALATE ######### PALATE ######### PALATE ######### PALATE ######### -->
<div *ngIf = "location == '/tasting/palate/floral' ">
    <h3>Floral Tastes</h3>
    <img src="https://s3.eu-west-2.amazonaws.com/the-grape-app-bucket/icons/floral.svg" alt="Picture of floral tastes... Yummy!">
    <p>Select the flavours <br>you have detected:</p>
</div>



 <div class="floralComponentOptions">
   <button (click)="userInputToggle('rose')">Rose</button>
   <button (click)="userInputToggle('violet')">Violet</button>
   <button (click)="userInputToggle('potpourri')">Potpourri</button>
   <button (click)="userInputToggle('perfumed/floral')">Perfumed/Floral</button>
   <button (click)="userInputToggle('')">None</button>
</div>

<button (click)="addToUserNotesObject()">Submit</button>
