
<h3>Floral Aromas</h3>

<img src="https://s3.eu-west-2.amazonaws.com/the-grape-app-bucket/icons/floral.svg" alt="Picture of floral aromas... Mmmmmmh!">

<p>Select the aromas <br>you have decided:</p>

 <div class="floralComponentOptions">
   <button (click)="userInputToggle('rose')">Rose</button>
   <button (click)="userInputToggle('violet')">Violet</button>
   <button (click)="userInputToggle('potpourri')">Potpourri</button>
   <button (click)="userInputToggle('floral')">Perfumed/Floral</button>
   <button (click)="userInputToggle('')">I can't smell any flowers</button>
</div> 

<button (click)="addToUserNotesObject()">Submit</button>

