
<h3>Floral Aromas</h3>

<img src="https://s3.eu-west-2.amazonaws.com/the-grape-app-bucket/icons/floral.svg" alt="Picture of floral aromas... Mmmmmmh!">

<p>Select the aromas <br>you have decided:</p>

 <div class="floralComponentOptions">
   <button (click)="sendUserResponse('rose')">Rose</button>
   <button (click)="sendUserResponse('violet')">Violet</button>
   <button (click)="sendUserResponse('potpourri')">Potpourri</button>
   <button (click)="sendUserResponse('floral')">Floral/Perfumed</button>
   <button (click)="sendUserResponse('')">I can't smell any flowers</button>
	<!-- <input type=radio (click)="sendUserResponse('rose')" class="options" value="Rose">
	<input type=radio (click)="sendUserResponse('violet')" class="options" value="Violet">
	<input type=radio (click)="sendUserResponse('potpourri')" class="options" value="Potpourri">
	<input type=radio (click)="sendUserResponse('floral')" class="options" value="Perfumed/Floral">
	<input type=radio (click)="sendUserResponse('')" class="options" value="I can't smell any flowers"> -->
</div>

  <div *ngIf="isActive">
    <h1>Hello!</h1>
  </div>
