.logo {
  margin: 0 auto;
  display: block;
}


.btn-login {
  padding: 0.5em 1em;
  letter-spacing: 0.51px;
  text-transform: uppercase;
  border: 1px solid #593E68;
  transition: all 300ms ease;
  width: 200px;
  text-decoration: none;
  margin: auto;
  margin-top: 20px;
}

.btn-login:hover {
  background-color: #593e68;
  color: #fff;
}
