// Nose
<div *ngIf = "location == '/tasting/nose/blackFruit' ">
  <h3>Fresh Black Fruit Aromas</h3>
  <img src="https://s3.eu-west-2.amazonaws.com/the-grape-app-bucket/icons/blackFruit.svg">
  <p>Select the aromas you detect:</p>
</div>

// Palate
<div *ngIf = "location == '/tasting/palate/blackFruit' ">
  <h3>Fresh Black Fruit Tastes</h3>
  <img src="https://s3.eu-west-2.amazonaws.com/the-grape-app-bucket/icons/blackFruit.svg">
  <p>Select the flavors you taste:</p>
</div>

 <div class="blackFruitComponentOptions">
   <button (click)="userInputToggle('blackcurrant')">Blackcurrant</button>
   <button (click)="userInputToggle('black plum')">Black plum</button>
   <button (click)="userInputToggle('blackberry')">Blackberry</button>
   <button (click)="userInputToggle('black cherry')">Black cherry</button>
   <button (click)="userInputToggle('blueberry')">Blueberry</button>
   <button (click)="userInputToggle('')">None</button>
</div>

<button (click)="addToUserNotesObject()">Submit</button>
