<div class="color-schema">
  <ul class="color-header">
    <li>Pale</li>
    <li>Medium</li>
    <li>Deep</li>
  </ul>
  <ul>
    <li class="color-row purple">
      <button class="color-box pale" (click)="userInputToggle('pale',' purple')"></button>
      <button class="color-box medium" (click)="userInputToggle('medium', ' purple')"></button>
      <button class="color-box deep" (click)="userInputToggle('deep', ' purple')"></button>
      <h3>Purple</h3>
    </li>
    <li class="color-row ruby">
      <button class="color-box pale" (click)="userInputToggle('pale',' ruby')"></button>
      <button class="color-box medium" (click)="userInputToggle('medium',' ruby')"></button>
      <button class="color-box deep" (click)="userInputToggle('deep',' ruby')"></button>
      <h3>Ruby</h3>
    </li>
    <li class="color-row garnet">
      <button class="color-box pale" (click)="userInputToggle('pale',' garnet')"></button>
      <button class="color-box medium" (click)="userInputToggle('medium',' garnet')"></button>
      <button class="color-box deep" (click)="userInputToggle('deep',' garnet')"></button>
      <h3>Garnet</h3>
    </li>
    <li class="color-row tawny">
      <button class="color-box pale" (click)="userInputToggle('pale',' tawny')"></button>
      <button class="color-box medium" (click)="userInputToggle('medium',' tawny')"></button>
      <button class="color-box deep" (click)="userInputToggle('deep',' tawny')"></button>
      <h3>Tawny</h3>
    </li>
  </ul>

</div>

<!-- <button (click)="userInputToggle('pale')">Pale</button>
<button (click)="userInputToggle('medium')">Medium</button>
<button (click)="userInputToggle('deep')">Deep</button>
<button (click)="userInputToggle('purple')">Purple</button>
<button (click)="userInputToggle('garnet')">Garnet</button>
<button (click)="userInputToggle('tawny')">Tawny</button> -->
<footer class="main-footer">
  <a class='btn-tasting'(click)='addToUserNotesObject(); getNextRoute()'>Done, on to nose!</a>
</footer>
