<div class="main">
<img class="logo" src="https://s3.eu-west-2.amazonaws.com/the-grape-app-bucket/icons/smallLogo.svg" alt="small logo">
    <h2>Login</h2>
    <div *ngIf="error">
      {{ error }}
    </div>
    <form name="form" (ngSubmit)="login(userLoginForm)" #userLoginForm="ngForm">
        <p>
          <label for="username">Username</label>
          <input type="text" name="username" placeholder="username" ngModel>
        </p>

        <p>
          <label for="password">Password</label>
          <input type="password" name="password" placeholder="password" ngModel>
        </p>
        <button type= "submit">Sign in</button>

    </form>
    <p>Have an account? </p>

    <button [routerLink]="['/signup']">Sign Up</button>

</div>
